<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Formulário de Dados</title>
</head>
<body>
  <div class="dados-destino">
    <h1 class="large-title">Dados Destino</h1>

    <div class="progress-bar">
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line1"></div>
      <div class="default-indicator"></div>
      <div class="default-line1"></div>
      <div class="default-indicator"></div>
    </div>

    <form>
      <label>
        Local Destino
        <input type="text" placeholder="Digite o local de Destino">
      </label>

      <label>
        Endereço de Destino
        <input type="text" placeholder="Digite o endereço de Destino">
      </label>

      <label>
        Ponto de Referência
        <input type="text" placeholder="Digite o ponto de referência">
      </label>

      <label>
        Nome do Responsável
        <input type="text" placeholder="Digite o nome do responsável">
      </label>

      <label>
        Telefone do Responsável
        <input type="tel" placeholder="Digite o telefone">
      </label>

      <label>
        Data da Entrega
        <input type="date">
      </label>

      <label>
        Hora da Entrega
        <input type="time">
      </label>

      <label>
        Observação
        <textarea placeholder="Digite alguma observação"></textarea>
      </label>
    </form>

    <div class="buttons">
      <a href="./form2.html" class="button voltar">Voltar</a>
      <a href="./form4.html" class="button proximo">Próximo</a>
    </div>
  </div>
</body>
</html>
