<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Formulário de Dados</title>
</head>
<body>
  <div class="dados-origem">
    <h1 class="large-title">Dados Origem</h1>

    <div class="progress-bar">
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line1"></div>
      <div class="default-indicator"></div>
      <div class="default-line1"></div>
      <div class="default-indicator"></div>
    </div>

    <form>
      <label>
        Local Origem
        <input type="text" id="localO" placeholder="Digite o local de origem">
      </label>

      <label>
        Endereço de Origem
        <input type="text" id="endO" placeholder="Digite o endereço de origem">
      </label>

      <label>
        Ponto de Referência
        <input type="text" id="refO" placeholder="Digite o ponto de referência">
      </label>

      <label>
        Nome do Responsável
        <input type="text" id="nomeO" placeholder="Digite o nome do responsável">
      </label>

      <label>
        Telefone do Responsável
        <input type="tel" id="telO" class="mask-tel" placeholder="Digite o telefone">
      </label>

      <label>
        Data da Coleta
        <input type="date" id="dataO">
      </label>

      <label>
        Hora da Coleta
        <input type="time" id="horaO">
      </label>

      <label>
        Observação
        <textarea placeholder="Digite alguma observação"></textarea>
      </label>
    </form>

    <div class="buttons">
      <a href="./form1.html" class="button voltar">Voltar</a>
      <a href="./form3.html" class="button proximo">Próximo</a>
    </div>
  </div>

<script type="module" src="../js/form2.js"></script>
</body>
</html>
