<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados Destino</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
  <div class="dados-destino">
    <h1 class="large-title">Dados Destino</h1>
    
    <div class="progress-bar">
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line2"></div>
      <div class="default-indicator"></div>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço de Destino</label>
      <input type="text" id="endereco">
    </div>

    <div class="form-group">
      <label for="referencia">Ponto de Referência</label>
      <input type="text" id="referencia">
    </div>

    <div class="form-group">
      <label for="responsavel">Nome do Responsável</label>
      <input type="text" id="responsavel">
    </div>

    <div class="form-group">
      <label for="telefone">Telefone do Responsável</label>
      <input type="tel" id="telefone">
    </div>

    <div class="form-group">
      <label for="data">Data da Entrega</label>
      <input type="date" id="data">
    </div>

    <div class="form-group">
      <label for="hora">Hora da Entrega</label>
      <input type="time" id="hora">
    </div>

    <div class="form-group">
      <label for="observacao">Observação</label>
      <textarea id="observacao" rows="3"></textarea>
    </div>

    <div class="button-group">
        <a href="./form2.html" class="button voltar">Voltar</a>
        <a href="./form4.html" class="button proximo">Próximo</a>
    </div>
  </div>
</body>
</html>
