<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados Destino</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <div class="dados-equipamento">
    <h1 class="large-title">Dados Equipamento</h1>

    <div class="progress-bar">
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
      <div class="default-line"></div>
      <div class="active-indicator"></div>
    </div>

    <label for="n-transporte">Nº Transporte</label>
    <input type="text" id="n-transporte">
    <div class="campo">
      <label for="motivo">Motivo</label>
      <input type="text" id="motivo">
    </div>
    <br>
    <div class="dados-equipamento">
      <div class="campo">
        <h2>Volume 1</h2>
      </div>
      <div class="campo">
        <label for="cod-sap">COD (SAP)</label>
        <input type="text" id="cod-sap">
      </div>
      <div class="campo">
        <label for="alias">Alias</label>
        <input type="text" id="alias">
      </div>
      <div class="campo">
        <label for="comprimento">Comprimento (cm)</label>
        <input type="text" id="comprimento" class="mask-cm">
      </div>
      <div class="campo">
        <label for="largura">Largura (cm)</label>
        <input type="text" id="largura" class="mask-cm">
      </div>
      <div class="campo">
        <label for="altura">Altura (cm)</label>
        <input type="text" id="altura" class="mask-cm">
      </div>
      <div class="campo">
        <label for="peso">Peso (kg)</label>
        <input type="text" id="peso" class="mask-kg">
      </div>
      <div class="campo">
        <label for="valor">Valor (R$)</label>
        <input type="text" id="valor" class="mask-kg">
      </div>
      <div class="campo">
        <label for="part-number">Part Number</label>
        <input type="text" id="part-number">
      </div>
      <div class="campo">
        <label for="serial-number">Serial Number</label>
        <input type="text" id="serial-number">
      </div>


      <div class="button-group">
        <a href="./form3.html" class="button voltar">Voltar</a>
        <a href="./form4.html" class="button salvar">Salvar</a>
      </div>
    </div>

    <script type="module" src="../js/form4.js"></script>
</body>

</html>